#main-container{
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
     --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.p-4 {
    padding: 1rem;
}
.p-6{padding: 2.0rem;}
body {     
            min-height: 100vh;
            --tw-bg-opacity: 1;
            background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));   
            font-family: 'Inter', sans-serif;
            background-color: #f3f4f6;
            margin: 0;
            line-height: inherit;
            align-items: center;
            justify-content: center;
            padding: 2.0rem;
        }
.card-bg {
            background-color: #ffffff;
        }
.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.rounded-3xl {
    border-radius: 1.5rem;
}
.overflow-hidden {
    overflow: hidden;
}
.max-w-4xl {
    max-width: 54rem;
}
.w-full {
    width: 100%;
}
div {
    unicode-bidi: isolate;
}
.font-bold {
    font-weight: 700;
}
